

<div class="container">
  <h3>indy rubyists</h3>
  <% @ruby_users.each do |ru| %>
    <div class="row user-row">
      <div class="col-md-2 col-sm-2 col-xs-6 img-col">
        <img src="<%= ru.avatar_url %>" class= "img-responsive" alt="" />
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <h5><%= link_to ru.name.downcase, ru.html_url, class: 'users_name' %></h5>
        <ul class="users_info">
          <li>joined on <%= ru.created_at.to_date.to_s %></li>
          <li><%= ru.public_repos %> public repos</li>
          <li><%= ru.followers %> followers</li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
